// Color Palette
$primary-color: #facc15;
$secondary-color: #eab308;
$dark-bg: #111827;
$light-bg: #f8f9fa;
$text-light: #ddd;
$text-dark: #222;

// Font Settings
$font-family: "Poppins", sans-serif;
